# dependencies
node_modules/

# build outputs
dist/

# env files
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS
.DS_Store

# editors
.vscode/
.idea/

# coverage
coverage/
